{% load socialaccount %}
{% load account %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Title</title>
</head>
<body>

{% if user.is_authenticated %}
    <div id="app">
    <v-app>
        <div>
            <p>
                LogIn as: {% user_display user %} <a href="/accounts/logout">Log out</a>
            </p>
        </div>
        <div>
            <p>
                 <a href="/repos/add/">Add repo</a>
            </p>
        </div>
        <v-card-title>
            <h2>Repos list:</h2>
        </v-card-title>
         <v-data-table :headers="headers" calculate-widths="true" :items="repos" :options.sync="options" :server-items-length="allRepos" :footer-props="{
                            'items-per-page-options':[ 10,50,100,-1],
                            'items-per-page-text':'Wiersze na stronie:',
                            'items-per-page-all-text': 'Wszystkie',
                         }">
             <template v-slot:item.is_private="{item}">
                 <v-icon small  v-if="item.is_private" v-model="item.is_private" color="#009006" style = "margin-left: 15px" >
                     mdi-circle
                 </v-icon>
                 <v-icon small  v-else color="#245f9c" style = "margin-left: 15px" >
                     mdi-circle
                 </v-icon>
             </template>
             <template v-slot:item.details="{item}">
                  <a :href="'https://api.github.com/repos/' + item.owner + '/' + item.name">&gt;</a>
             </template>
         </v-data-table>
    </v-app>
    </div>

{% else %}
<p>Please <a href="{% provider_login_url 'github' %}">Authenticate with GitHub</a></p>
{% endif %}



</body>

<script>
    var app = new Vue({
      delimiters: ['[[', ']]'],
      el: '#app',
      vuetify: new Vuetify({
            theme: {
                themes: {
                    light: {
                        primary: '#009999',
                    }
                }
            },
        }),
      data: {
          message: 'Hello Vue!',
          token: '',
          options: {
                    itemsPerPage: -1,
                },
          headers: [
                    {
                        text: 'Name',
                        value: 'name',
                        width: '10%'
                    },
                    {
                        text: 'Owner',
                        value: 'owner',
                        width: '10%'
                    },
                    {
                        text: 'Programming language',
                        value: 'programming_language',
                        width: '10%'
                    },
                    {
                        text: 'Stars',
                        value: 'stars',
                        width: '7%'
                    },

              {
                        text: 'Last update',
                        value: 'last_update',
                        width: '7%'
                    },
                    {
                        text: 'Is private',
                        value: 'is_private',
                        width: '7%'
                    },
                    {
                        text: 'Details',
                        value: 'details',
                        sortable: false,
                        width: '7%'
                    },

                ],
                repos: [],
          allRepos: 1,
      },
         mounted() {
            this.getData();
        },
      methods: {
          greet: function(name) {
              console.log('Hello from ' + name + '!')
          },
          getBasicInfos(repos_list){
                 for (let i = 0; i < repos_list.length; i++) {
                        this.checkRepo(repos_list[i]['name'], repos_list[i]['owner'])
                 }
          },
          async getData() {
                let url = 'getRepos/';
                let parameters = {
                    search: this.message, // for future (had plans to do that)
                };
                await axios.post(url, parameters, {
                        headers: {
                            'Content-Type': 'application/json',
                            'Access-Control-Allow-Origin': '*',
                            'X-CSRFToken': '{{ csrf_token }}'
                        }
                    })
                    .then(response => (
                        console.log(response.data), this.token = response.data['token'], this.getBasicInfos(response.data['repos_list'])
                        ))
                    .catch(function(error) {
                        console.log(error);
                    });
            },
          async checkRepo(repo_name, owner){
              let current_token = 'token ' + this.token;
              {#let url = 'https://api.github.com/repos/{% user_display user %}/' + repo_name;#}
              let url = 'https://api.github.com/repos/' + owner + '/' + repo_name;
                {#console.log(current_token);#}
                await axios({
                    url,
                    type: 'GET',
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader("Authorization", current_token);
                    },
                    })
                    .then(response => (
                        this.repos.push({
                            name: response.data['name'],
                            owner: response.data['owner']['login'],
                            programming_language: response.data["language"],
                            stars: response.data["stargazers_count"],
                            last_update: response.data['updated_at'],
                            is_private: response.data["private"],
                            details: '-',
                        }),
                        console.log(response.data)
                        ))
                    .catch(function(error) {
                        console.log(error);
                    });
          }

      }
    });
  </script>
</html>